.nav_main.fixed_menu {position: fixed;margin-top: -5%;width: 100%;z-index: 99999;background: #fff;}
.for-fixed {margin-top: 5%;z-index: 999;}
.sidenav .closebtn{top: 60px;}
.fadsan_txt {text-align: center;}
.fadsan_txt a {text-decoration: none;}
h1.title_head {font-size: 40px;width: 41%;padding: 7px;float: left;font-weight: 700;color: #fff;margin: 0% 3% auto;margin-top: 0.5%;box-shadow: 0 0.7px 5px #ddd;text-shadow: 0 2px 3px #000;}
.menu_bar_menu{color: #42879b;}
.title6{color: #ec9f24;}
.para_f {font-size: 15px;line-height: 24px;}
.techboxone {background-color:#00bcd4;}
.tech_icon>p>img{    margin-right: 4%;}

i.fa.fa-chevron-up.gotop {
    padding: 1%;
    background: #f15b5b;
	border:1px solid #f15b5b;
    border-radius: 16%;
    margin-left: 1%;
    margin-bottom: 1%;
    color: #fff;
}

i.fa.fa-chevron-up.gotop:hover { background:none; border:1px solid #f15b5b; color:#f15b5b; }

/*.hover_box {
    display: inline-block;
   
    border: 1px solid red;
    padding: 6%;
	 position: absolute;
    top: 32%;
    left: 9%;
	-ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(31deg);
}*/

.hexagon {
  position: relative;
  width: 170px; 
  height: 98.15px;
  background-color: #64C7CC;
  margin: 49.07px 0;
  position: absolute;
  top: 30.95%;
  left: 10.1%;
  -ms-transform: rotate(31deg);
  -webkit-transform: rotate(31deg);
  transform: rotate(31deg);
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 85px solid transparent;
  border-right: 85px solid transparent;
}

.hexagon:before { bottom: 100%; border-bottom: 49.07px solid #64C7CC; }

.hexagon:after { top: 100%; width: 0; border-top: 49.07px solid #64C7CC; }
span.logo_container .navbar-brand>img { width: 34%; }
/*Code for body background*/
body {/*background: radial-gradient(#00bcd4, #000000);background: url(../images/seigaiha.png);color: #000;*/}
.title5{/*color: #f3c3c3;*/color:#f8c834;font-size: 20px;}
.small_line{ border: 1px solid #f15b5b;}
.small_line_center{border: 1px;background: #f15b5b;}
.product_para1{font-size: 15px !important;}
p i.fa {color: #ec9f24!important;}
.pdb50 {padding-bottom: 0px !important;}

/*End Of body background code*/

.Page_heading_txt h2 { text-align: center; font-weight: 700; margin-bottom: 2%; }
hr.hr_port { width: 11%; border-top: 2px solid #ff4f53; margin-right: 46%; display:none; }


/*Code for products Detail Page Start*/
	.about_pro_txt p { font-size: 14px; line-height: 2em; margin-bottom: 2%; }
.heading_side { color: #42879b; font-size: 22px; margin-bottom: 2%; }

.about_list_active { background: #42879b!important; border: #42879b!important; }


/*Code For Product Detail Page Ends*/
.menu_bar span { left: 6%; margin-left: 76%; }

i.fa.fa-bars.fa-spin { margin-left: 99%; }

.socia_icon a.fa-facebook { background: #3B5998; color: white; }

.socia_icon a.fa-twitter { background: #55ACEE; color: white; }

.socia_icon a.fa-google { background: #dd4b39; color: white; }

.socia_icon a.fa-linkedin { background: #007bb5; color: white; }

.socia_icon a.fa-youtube { background: #bb0000; color: white; }

.socia_icon a {
    padding: 1%;
    float: right;
    margin: 2% 1% auto;
    text-decoration: none;
}
.socia_icon a.fa:hover { opacity: 0.7; }

/*Css for Social Icon Floating*/
/*For social icon floating*/
.sidesocial { position: fixed; top: 30%; }
		
#floatingSidenav a {
	position: absolute;
	left: -100px;
	transition: 0.3s;
	padding: 15px;
	width: 121px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	border-radius: 0 5px 5px 0;
}

#floatingSidenav a:hover { left: 0; }

.fa-linkedin { top: 20px; /*background-color: #007bb5;*/ }

#facebook { top: 80px; background-color: #2196F3; }

#youtube { top: 140px; background-color: #f44336; }

#googleplus { top: 200px; background-color: #dd4b39; }

#twitter { top: 260px; background-color: #55ACEE; }
						
		/*End of social icon Floating*/

/*End Of Social Icon Floating*/

/*About us Page code Start
.about_weare {
    width: 80%;
    margin: 0 auto;
}
.abt_txt_heading {
    font-size: 26px;
    text-align: center;
    margin-bottom: 1%;
    font-weight: 600;
    color: #007bb5;
	border-bottom: 1px solid;
}
.who_we-txt p {
    line-height: 1.8em;
    color: #585858;
    text-align: justify;
}

.about_weoffer{
	 width: 80%;
    margin: 0 auto;
}
.offer-sub-head p {
     line-height: 1.8em;
    color: #585858;
    text-align: justify;
}
.latest_instagram {
    width: 80%;
    margin: 0 auto;
}
.testi_content {
	margin-top:2%;
	
}
.testi_content h4{
	line-height:1.8em;
}*/
/*About us Page code End*/
/*For Back Button starts*/
.btn-arrow-left { position: relative; padding-left: 18px; padding-right: 18px; }
.btn-arrow-left { padding-right: 36px; margin-top: 1%; }

.btn-arrow-left1 { padding-right: 36px; margin-top: 1%; }

.btn-arrow-left:before,
.btn-arrow-left:after { /* make two squares (before and after), looking similar to the button */
    content:"";
    position: absolute;
    top: 5px; /* move it down because of rounded corners */
    width: 22px; /* same as height */
    height: 22px; /* button_outer_height / sqrt(2) */
    background: inherit; /* use parent background */
    border: inherit; /* use parent border */
    border-left-color: transparent; /* hide left border */
    border-bottom-color: transparent; /* hide bottom border */
    border-radius: 0px 4px 0px 0px; /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px;
}

.btn-arrow-left:before,
.btn-arrow-left:after {
    transform: rotate(225deg); /* rotate left arrow squares 225 deg to point left */
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}
.btn-arrow-left:before { /* align the "before" square to the left */ left: -11px; }
.btn-arrow-left:after { /* align the "after" square to the right */  right: -11px; }
.btn-arrow-left:before { /* bring arrow pointers to front */ z-index: 1; }
.btn-arrow-left:after { /* hide arrow tails background */ background-color: white; }

/*For Back Button ends*/




